.component {
  .button {
    width: 100%;
    height: 2.8rem;
    padding: 0 var(--spacing-12);
    border-radius: 1.25rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 600;
  }
}
