.component {
  margin: 0 auto;

  .profile {
    height: 6.625rem;
    padding: var(--spacing-20) var(--spacing-12);
  }

  label {
    display: flex;
    flex-flow: column;
    gap: var(--spacing-8);
    padding: var(--spacing-12);
    border-bottom: 1px solid var(--content-tertiary);
    font-size: 0.875rem;
    font-weight: 600;
  }

  .aboutMe {
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 5rem;

    span {
      height: var(--spacing-20);
    }

    .aboutMe__textCheck {
      font-size: 0.625rem;
      font-weight: 400;
      color: var(--content-secondary);
    }

    .textarea {
      border: 1px solid var(--content-secondary);
      padding: var(--spacing-8) var(--spacing-12);
      border-radius: var(--rounded-lg);
    }
  }

  .interest__container {
    display: flex;
    justify-content: space-between;
    height: var(--spacing-46);
    padding: var(--spacing-12);
    border-bottom: 1px solid var(--content-tertiary);
    font-size: 0.875rem;
    font-weight: 600;
  }

  .button__container {
    margin: var(--spacing-12) 0;
  }

  .interest__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
