.toast {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.content {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.iconDefault {
  color: #008a1e;
}

.iconDestructive {
  color: #eb003b;
}
