.inputWrapper {
  position: relative;

  textarea {
    display: block;
    resize: none;
    width: 20rem;
    height: 11.125rem;
    padding: 0.75rem;
    border-top: 0px;
    border-bottom: 1px solid var(--Contents-contentTertiary, #d9d9d9);
    border-left: 0px;
    border-right: 0px;
    background: var(--background, #f4f4f4);
  }
}

.charCount {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 0.75rem;
  color: var(--Contents-contentSecondary, #979797);
}
