.Comment__list {
  width: 100%;
  height: 50vh;
  background-color: var(--content-tertiary);
}

.Comment__list__empty {
  display: grid;
  place-items: center;
  width: 100%;
  height: 693px;
  color: var(--content-secondary);
  font-size: 0.875rem;
}
