.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-8) var(--spacing-12);
  border-bottom: 1px solid var(--content-tertiary);
}

.leftIcons,
.rightIcons {
  display: flex;
  gap: var(--spacing-8);
}

.leftIcons {
  flex: 1; /* 왼쪽 아이콘을 왼쪽에 고정 */
}

.rightIcons {
  justify-content: flex-end; /* 오른쪽 아이콘을 오른쪽 끝으로 정렬 */
}
