.component {
  padding: 0 var(--spacing-12);
  background-color: var(--background);

  aside {
    position: fixed;
    bottom: calc(48px + 16px);
    /* GlobalNav 픽스되면 bottom값 수정 필수.. */
    width: calc(20rem - (0.75rem * 2));
  }
}
