.component {
  padding: 0 var(--spacing-12);
  background-color: var(--background);

  aside {
    width: calc(20rem - (0.75rem * 2));
    background-color: pink;
    position: fixed;
    bottom: 50px;
    /* GlovalNav 픽스되면 bottom값 수정 필수.. */
  }
}
