.component {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  span {
    font-size: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--Contents-contentPrimary, var(--color-black, #101115));

    font-family: Pretendard;
    font-size: 0.65644rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.98469rem;
  }
}
