.component {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: var(--content-secondary);
  font-size: 0.625rem;
  line-height: 160%;

  .BtnThumsup,
  .BtnComment {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
  }
}
