.component {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.BtnAddPicture {
  width: 100%;
  position: relative;
  border-top: 1px solid var(--content-tertiary);
  border-bottom: 1px solid var(--content-tertiary);
  margin-bottom: 24px;

  p {
    position: absolute;
    top: 0;
  }
}
